* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* WEBKIT PARAMETERS */

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
  
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: grey; }
}

/*/*/

/* BODY STYLES */

body.mainPage {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
    width: 100%;
}

body.bioPage {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

}

body.projectPage {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

body, main, html {
   height: 100%;
   width: 100%;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
}
/*/*/

/* DIVS */
div.main {
    text-align: center;
    display: inline-block;
    margin-top: 120px;
}

div.mainWrapper {
    height: 750px;
    width: 100%;
    background-image: url("https://user-images.githubusercontent.com/53489910/65709761-1e951300-e081-11e9-85ac-6e8ea2082e8b.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
div.buttonHolder3 {
    position: absolute;
    bottom: 0px;
    margin-top: 20px;
    left: 50%;
}

div.bioWrapper {
    height: 800px;
    width: 100%;
    background-image: url("https://stmed.net/sites/default/files/leather-textures-wallpapers-25244-3443181.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    text-align: center;
}


div.projectWrapper {
    height: 800px;
    width: 100%;
    background-image: url("https://stmed.net/sites/default/files/leather-textures-wallpapers-25244-3443181.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

div.bioHolder {
    border: none;
    height: 600px;
    width: 350px;
    display: inline-block;
    margin-top: 75px;
    background-color: transparent;
    text-align: center;
}

div.projectHolder {
    height: 600px;
    width: 350px;
    display: inline-block;
    margin-top: 45px;
    background-color: rgb(61, 61, 61);
    text-align: center;
}
/*/*/

h1.name {
    color: white;
    font-size: 50px;
    font-weight: 1000;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-animation: fadein 6s; 
    -moz-animation: fadein 6s; 
        -ms-animation: fadein 6s; 
        -o-animation: fadein 6s; 
            animation: fadein 6s;
}


h1.projects {
    font-family: 'Open Sans', sans-serif;
}

h1.bioHeading {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

h2.header {
    color: white;
    font-size: 15px;
}

p.intro {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    -webkit-animation: fadein 6s; 
    -moz-animation: fadein 6s; 
        -ms-animation: fadein 6s; 
        -o-animation: fadein 6s; 
            animation: fadein 6s;
}

.homepageButton {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;

}

#github {
    -webkit-animation: fadein 6s; 
    -moz-animation: fadein 6s; 
        -ms-animation: fadein 6s; 
        -o-animation: fadein 6s; 
            animation: fadein 6s;
}

#email {
    -webkit-animation: fadein 6s; 
    -moz-animation: fadein 6s;
        -ms-animation: fadein 6s; 
        -o-animation: fadein 6s; 
            animation: fadein 6s;
}

#contactInfo{
    -webkit-animation: fadein 6s; 
    -moz-animation: fadein 6s; 
        -ms-animation: fadein 6s; 
        -o-animation: fadein 6s; 
            animation: fadein 6s;
}

#misc {
    -webkit-animation: fadein 6s; 
    -moz-animation: fadein 6s; 
        -ms-animation: fadein 6s; 
        -o-animation: fadein 6s; 
            animation: fadein 6s;
}


.scrollButton {
    height: 50px;
    width: 50px;
    right: 25px;
    display: inline-block;
    position: relative;
    -webkit-animation: fadein 6s; 
    -moz-animation: fadein 6s; 
        -ms-animation: fadein 6s; 
        -o-animation: fadein 6s; 
            animation: fadein 6s;
}

h1.bioHeading {
    font-family: 'Montserrat', sans-serif;
}

p.bio {
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    size: 14px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: left;
    line-height: 20px;
}

h1.projectHeading {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h2.projectHeading2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

p.projectDescription {
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

/* IMAGE PROPERTIES */

img.githubIcon {
    width:30px;
    height: auto;
}

img.HTML5Icon {
    width:30px;
    height: auto;
}

img.cssIcon {
    width:25px;
    height: auto;
}

img.jqueryIcon {
    width:30px;
    height:auto;
}

img.javascriptIcon {
    width: 30px;
    height: auto;
}

img.quizScreenshot {
    width: 325px;
    height: auto;
}
/*/*/

/* MEDIA QUERIES */

    /* MOBILE */

    /* TABLETS */

    /* DESKTOP */
    @media only screen and (min-width: 960px) {

        h1.name {
            font-size: 85px;
            font-weight: bolder;
        }
        p.intro {
            font-family: 'Source Sans Pro', sans-serif;
            color: white;
            margin-left: 30px;
            margin-right: 30px;
            overflow: hidden; 
            border-right: .15em solid grey; 
            white-space: nowrap; 
            margin: 0 auto; 
            letter-spacing: .15em; 
            animation: 
                typing 4.5s steps(40, end),
                blink-caret .75s step-end infinite;
        }
    
        p.bio {
            line-height: 30px;
        }

        /* DIVS */
        div.bioHolder {
            float: left;
            width: 40%;
            height: 400px;
            margin-top: 175px;
        }

        div.projectHolder {
            float:right;
            width: 70%;
            height: 525px;
            margin-top: 150px;
            /* background-color: rgb(61, 61, 61); */
            background-color: transparent;
        }
        
    }